/* General Modal Styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Black background with transparency for the full screen */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
  background: #f8ee00;
  color: #111a24; /* Darker gray text, closer to black */
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content p {
  text-align: justify;
}

/* Modal button with reversed gradient */
.modal-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  background: #111a24; /* Reversed green gradient */
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.modal-button:hover {
  opacity: 0.9;
}

/* Game Over Modal */
.modal .modal-game-over {
  background: #cd5c5c; /* Soft coral to muted rose */
  /* color: #111a24; */
}

.modal-game-over .modal-button {
  background: #2d2d2d;
  /* color: #ffe083; */
}

.modal-game-over .modal-content h2 {
  color: #333333; /* Darker gray (close to black) for game over title */
}

.modal-game-over .modal-content p {
  color: #555555; /* Darker gray (close to black) for text */
}

/* Win Modal */
.modal .modal-win-acknowledge {
  background: #4caf50;
}

.modal-win .modal-button {
  color: #4caf50;
}

.modal-win .modal-content h2 {
  color: #333333; /* Darker gray for win title */
}

.modal-win .modal-content p {
  color: #555555; /* Darker gray for description */
}
.modal-instructions {
  min-width: 380px;
}

/* Instructions Modal */
.modal-instructions .modal-content {
  background: linear-gradient(
    135deg,
    #a2c2e0,
    #7ab7db
  ); /* Softer gradient from light blue to blue */
}

.modal-instructions .modal-button {
  background: #111a24;
  color: white;
}

.modal-instructions .modal-content h2 {
  color: #333333; /* Darker grayish color for instructions title */
}

.modal-instructions .modal-content p {
  color: #555555; /* Darker grayish color for instructions text */
}
.instructions-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
/* src/components/Modal.css */
.small-tile {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15%;
}

.small-tile.correct {
  background-color: #6aaa64; /* Correct */
  color: white;
}

.small-tile.present {
  background-color: #c9b458; /* Present */
  color: white;
}

.small-tile.absent {
  background-color: #787c7e; /* Absent */
  color: white;
}
